name: CI Build
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: composer install
      run: |
        composer install

    - name: composer lint
      run: |
        composer lint

    - name: composer test
      run: |
        composer test
